<title>Quiz Master by Selvi Pebrina</title>

<%= content_for(:greeting, 'Welcome to Quiz Master') %>
<%= content_for(:question, 'What is your name?') %>
<%= content_for(:description, 'We need your name to collect your score. Feel free to input any nickname you\'d like to have.') %>


<div class="container">
	<div class="bs-doc-section">
		<div class="row">
			<div class="col-lg-12">
				<div class="bs-component">
					<table class="table table-hover">
						<thead>
							<tr class="table-success">
								<th>Rank</th>
								<th>Name</th>
								<th>Score</th>
							</tr>
						<tbody>
							<%= @scores.each do |score| %>
								<tr class="table-light">
									<td> #{score.rank}</td>
									<td> #{score.score}</td>
									<td> #{score.username}</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
